.message_form {
    border-top: 1px solid #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .message_input {
    flex-grow: 1;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .send_button {
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
  }