@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-style: normal;
}

:root {
  --primary: #4340ff;
  --text: #2d2d2d;
  --button: #3d3dff;
  --border: #f8f9fa;
  --shadow: #00000025;
  --gradient: rgba(67, 64, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Pretendard';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  outline: none;

  &::placeholder {
    font-weight: bolder;
  }
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

h1 {
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 4px 4px 2px var(--shadow);
}
