@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-style: normal;
}

:root {
  --primary: #4340ff;
  --primary_hover: #3936e6;
  --text: #2d2d2d;
  --button: #3d3dff;
  --border: #e5e5e5;
  --shadow: #00000025;
  --gradient: rgba(67, 64, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Pretendard';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1f2a;
}

a {
  text-decoration: none;
  color: #1a1f2a;
}

input {
  outline: none;
}

input::placeholder {
  font-weight: bolder;
  color: #bfbfbf;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 4px 4px 2px var(--shadow);
}

li {
  list-style: none;
}